{% extends 'base.html' %}



{% block content %}

<h2>Типы личности</h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            {% for descriptor in descriptor_list %}
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ descriptor.name }}</h5>
                        <small>{{ descriptor }}</small>
                    </div>
                    <p class="mb-1">{{ descriptor.name_decoding }}</p>
                    <small><a href="{{ descriptor.get_absolute_url }}" class="link-info">Перейти</a></small>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
