{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h2>
        Личностный тест Майерс-Бриггс
    </h2>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            <p>Myers-Briggs, MBTI представляет собой оценку характеристик личности, основанную на оценке предпочтений человека в четырех сферах:</p>
            <p>направленность вовне или вовнутрь; внимание к сенсорной информации или добавление интерпретации; решение по логике или по интуиции; стремление выносить суждения или оставаться открытым для информации.</p>
            <p>Тест MBTI был разработан в 1940-х годах Кэтрин Кук Бриггс и ее дочерью Изабель Бриггс Майерс на основе типологии личности, созданной психоаналитиком Карлом Юнгом. Результаты теста MBTI дают психологический «тип» человека, обозначенный четырьмя буквами, по одной для каждого предпочтения:</p>
            <p>Экстраверсия (E) или Интроверсия (I); Сенсорное (S) или Интуитивное (N) восприятие; Логическое мышление (T) или Чувственное принятие решений (F); Суждение (J) или Восприятие (P). Результаты объединяются в одно из 16 возможных описаний типов, такие как ENTJ или ISFP. В нашей статье мы опишем все эти 16 типов личности по шкале Майерс-Бриггс, их сильные и слабые стороны и типы занятости, где они показывают наилучшие результаты.</p>
            <p>Хотя тест MBTI используется многими организациями для отбора нового персонала и применялся миллионы раз, личностные психологи и другие ученые сообщают, что он имеет относительно небольшую научную обоснованность. Психологи, изучающие личность, обычно полагаются на научно разработанные оценки черт, сгруппированных в пять (большая пятерка) или шесть (HEXACO) категорий. Однако тест Myers-Briggs имеет и множество защитников, которые отстаивают его точность и надежность в плане отбора персонала и предсказания будущей успешности людей на работе. Поэтому MBTI стал популярен среди компаний по всему миру, в том числе в России. По нашим данным, его применяют вместе с другими тестами и опросниками как во многих компаниях, так и в государственных службах и ведомствах.    </div></p>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <strong>ИНСТРУКЦИЯ:</strong>
        <p>
            Этот вопросник предназначен для определения типичных способов поведения и личностных характеристик. Он состоит из 70 утверждений (вопросов), каждое из которых имеет два варианта ответа. Вам необходимо выбрать ОДИН. Все ответы равноценны, среди них нет "пра-вильных" или "неправильных"! Поэтому не нужно "угадывать" ответ.
            Выберите ответ, который свойствен вашему поведению в большинстве жизненных ситуаций.
            Работайте последовательно, не пропуская вопросов.
            Отвечайте правдиво, если вы хотите узнать что-то о себе, а не о какой-то мифической личности.
        </p>
    </div>
</div>

<div class="row mb-5">
    <a href="{% url 'test_page' %}" class="btn btn-primary btn-lg btn-block">Перейти к тесту</a>
</div>
{% endblock content %}