{% extends 'base.html' %}


{% block style %}
{{ block.super }}
<style>
    .question-form-item ul {
        list-style: none;
        padding: 0;
    }

    .form-group .errorlist {
        color: #dc3545;
    }
</style>
{% endblock style %}


{% block content %}

<div class="row">
    <h1>
        Личностный тест Майерс-Бриггс
    </h1>
</div>

<div class="row">
    <form  action="{% url 'test_page' %}" method="post" class="mb-5">
        {% csrf_token %}

        {% include 'personality_test/forms/test_form.html' %}

        <hr>
        <h4>Ответьте  на все вопросы</h4>

        {{ question_forms.management_form }}

        {% for question_form in question_forms %}

            <div class="col-md-12 question-form-item">
                {% include 'personality_test/forms/question_form.html' %}
            </div>

            {% if not forloop.last %} <hr>{% endif %}

        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
</div>
{% endblock content %}