{% for hidden in test_form.hidden_fields %}
    {{ hidden }}
{% endfor %}


<table class="form-group">
    {% for field in test_form.visible_fields %}

        <tr>
            <td>
                <label class="">
                    {{field.label}}
                </label>
            </td>

            <td>
                {{field}}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text|safe }}</small>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
