<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
	<title>{% block title %}{% translate "Personality Test of Myers & Briggs" %}{% endblock title %}</title>
	<meta charset="utf-8">

	<!-- Import main styles -->
	<link rel="stylesheet" href="{% static 'base/styles/main.css' %}">

    <!-- Load css for navbar -->
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/vadikom/smartmenus@1.2.1/dist/css/sm-core-css.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/vadikom/smartmenus@1.2.1/dist/css/sm-blue/sm-blue.css">

    <!-- Load slick slider plugin -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


	{% block style %}
	{% endblock style %}
</head>

<body>

<body id="body-layout">
    <table border="0" cellpadding="0" cellspacing="0" class="main-table">
      <tr>
        <td align="center" valign="top">
          <table cellpadding="0" cellspacing="0" border="0" style="background: #ffffff;">
            <tr>
              <td width="600" align="center" valign="top">
			  	{% include 'base/header.html' %}

				{% block content %}{% endblock content %}

                {% include 'base/footer.html' %}
			  </td>
			</tr>
		  </table>
		</td>
	  </tr>
	</table>

    <div class="alerts">
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-info">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>{% translate "Info" %}</strong>
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Load jquery scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script src="https://cdn.jsdelivr.net/gh/vadikom/smartmenus@1.2.1/dist/jquery.smartmenus.js"></script>
    <!-- Slick js plugin -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	{% block javascript %}
	{% endblock javascript %}

</body>
</html>
